/*Stylesheet firebase test*/
@media (display-mode: fullscreen) {
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
	height:100%;
	width:100%;
}

#formTitle {
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgray;
  width:100%;
  max-width: 100%;
  font-size: 1.3em;
}
#formDescription {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  width:100%;
  max-width: 100%;
  font-family: sans-serif;
  font-size: 1.3em;

  overflow: auto;
}
#formPassword {
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgray;
  width:100%;
  max-width: 100%;
  font-size: 1.3em;
}
p{
  font-size:1.3em;
}
img {
  width:100%;
  height: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 34efd1387e7be26831c71fbf8d7fd33a3c6dbafa
